<div>
    <div class="container">
        <div class="alert alert-danger" ng-if="errorMsg">
            <strong ng-bind="errorMsg"></strong>
        </div>
        <div class="alert alert-success" ng-if="successMsg">
            <strong ng-bind="successMsg"></strong>
        </div>
        <div class="buttons-wrapper">
          <button id="add" ng-click="addContact()">Add</button>
        </div>
        <table style="width:100%" class="table">
          <tr>
            <th>Firstname</th>
            <th>Lastname</th> 
            <th>Email id</th>
            <th>Contact no</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          <tr ng-repeat="contact in contacts">
            <td ng-bind="contact.firstName"></td>
            <td ng-bind="contact.lastName"></td>
            <td ng-bind="contact.emailId"></td>
            <td ng-bind="contact.contactNumber"></td>
            <td ng-bind="contact.status"></td>
            <td><a class="delete" ng-click="deleteContact(contact)">Delete</a><a class="update" ng-click="updateContact(contact)">Update</a></td>
          </tr>
        </table>
    </div>
</div>