<div class="container">
    <div class="alert alert-danger" ng-if="errorMsg">
        <strong ng-bind="errorMsg"></strong>
    </div>
    <div class="buttons-wrapper">
        <button id="add" ng-click="updateContact(contact)">Update</button>
        <button id="cancel" ng-click="cancel()">Cancel</button>
    </div>
    <div>
        <input type="text" placeholder="First Name" name="first_name" ng-model="contact.firstName" required>
        
        <input type="text" placeholder="Last Name" name="last_name" ng-model="contact.lastName" required>

        <input type="email" placeholder="Email" name="email" ng-model="contact.emailId" required>

        <input type="number" placeholder="Contact No" name="contact" ng-model="contact.contactNumber" required>
        
        <input type="text" placeholder="Status" name="status" ng-model="contact.status" required>
    </div>
</div>